.jumbotron {
  background: image-url("alcohol1.jpg");
  background-size: cover;
  height: 600px;
  h1 {
    font-size: 50px;
    color: white;
    margin: 30px 0 60px 0;
  }
  
  p {
    font-size: 25px;
    font-weight: 500;
    color: white;
    margin-bottom: 30px;
  }
}

body {
  background: image-url("back.jpg");
  background-size: cover;
}

.card {
  background-color: #EEEEEE	;
}

.nav-tabs .nav-link {
  background-color: #CC9999;
  color: #fff;
}

.nav-tabs .nav-link.active {
    background-color: #BB0000;
    color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.container{
  margin-top: 100px;
}
